// Strings filter at the translator page.

#page-local-amos-view #region-main {
    overflow-x: auto;
}

.path-local-amos {

    label + .form-text {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    #amosfilter_fcmp input[type=checkbox]:checked + label {
        font-weight: bold;
    }
}
