// Strings filter at the translator page

#page-local-amos-view #region-main {
    overflow-x: auto;
}

.path-local-amos {

    .string-control-label .fa-mobile {
        font-size: 1.7em;
    }

    .form-check-inline  {
        display: inline;
        margin-right: 4px;
        input[type="checkbox"] {
            margin-top: 0;
        }
    }
    .form-actions {
        button {
            margin-right: 4px;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 4px;
        margin-right: 0;
    }

    #amosfilter_form {
        .help-block {
            font-size: 66%;
        }
        .jsactions {
            display: block;
            margin-top: 2px;
            min-height: 20px;
            input[type="radio"] {
                display: none;
            }
        }
        .col-form-label {
            text-align: right;
        }
    }

    #amosfilter_fmis .form-check,
    #amosfilter_ftxt .form-check,
    #amosfilter_fsid .form-check {
        padding-left: 0;
    }

    #amosfilter_fver .unsupported label {
        color: gray;
    }

    #amosfilter_fver label {
        padding-right: 0.3em;
    }

    #amosfilter_submitted_icon {
        display: inline-block;
        min-width: 20px;
    }

    #amosfilter_fcmp {
        border: 1px solid rgb(204,204,204);
        @include border-radius(4px);
        padding: 0px 5px;
        height: 100px;
        overflow: auto;
        overflow-y: scroll;
        background-color: white;
    }
    .error #amosfilter_fcmp {
        border-color: #b94a48;
        color: #b94a48;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }

    .error #amosfilter_fcmp_actions_search {
        border-color: inherit;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        box-shadow: inherit;
        color: inherit;
    }

    #amosfilter_fcmp table tr th, #amosfilter_fcmp table tr td {
        border: none;
        padding: 0px 1px;
        margin: 0px;
        text-align: left;
        vertical-align: top;
    }

    #amosfilter_fcmp table tr th {
        font-style: italic;
        font-weight: bold;
    }

    #amosfilter_fcmp table tr td.version span {
        background-color: #ccc;
        font-size: 70%;
        color: white;
        padding: 2px;
    }

    #amosfilter_fcmp table tr td.version.supported span {
        background-color: theme-color("success");
    }

    #amosfilter_fcmp input[type=checkbox]:checked + label {
        font-weight: bold;
    }
}
