// Styles used at the stage page.

.path-local-amos #amosstagewrapper {

    .stagetool {
        margin-bottom: 10px;

        &.simple {
            margin-bottom: 20px;
        }

        .stagetool-title {
            font-size: larger;
            background: url([[pix:core|t/expanded]]) no-repeat scroll 0 center;
            padding-left: 20px;
            cursor: pointer;
            color: $link-color;
            text-decoration: $link-decoration;

            &:hover {
                color: $link-hover-color;
                text-decoration: $link-hover-decoration;
            }
        }

        .collapsed .stagetool-title {
            background-image: url([[pix:core|t/collapsed]]);
        }

        .stagetool-content {
            padding-left: 1.3rem;
        }

        &.commit {
            label.checkbox {
                margin-bottom: 5px;
            }
            label.checkbox input[type="checkbox"] {
                margin-top: 4px; // Undo the dodgy hack from theme/bootstrapbase/less/moodle/forms.less
                margin-right: 0;
            }
        }

        &.stageactions {
            .btn {
                margin: 2px;
            }
        }
    }

    #amosstagestrings {
        margin-top: 2rem;

        .amosoriginal, .amostranslation {
            flex: 1 1 auto;
            min-height: 3rem;
            border: 1px solid rgb(204,204,204);
            border-radius: 4px;
            padding: 10px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .amosstageitem.uncommittable .amostranslation {
			background-color: $amos-color-nontranslatable;
        }

        .amosstageitem.committable .amostranslation {
            background-color: $amos-color-committable;
        }

        .amosstageitem.diff[data-diffmode="chunks"] .amostranslation {
            .translation-new, .translation-current {
                display: none;
            }
        }

        .amosstageitem.diff[data-diffmode="blocks"] .amostranslation {
            .translation-diff {
                display: none;
            }
        }

        .amosstageitem.diff {
            &[data-diffmode="chunks"] .amostranslation del,
            &[data-diffmode="blocks"] .amostranslation .translation-current {
                color: #6b6b6b;
                text-decoration: line-through double;
            }

            &[data-diffmode="chunks"] .amostranslation ins,
            &[data-diffmode="blocks"] .amostranslation .translation-new {
                color: #008000;
                font-weight: bold;
                text-decoration: underline dotted;
            }
        }

        .amosstageitem:not([class~="diff"]) [data-action="toggle-diffmode"] {
            display: none;
        }
    }
}
