@import "variables.scss";
@import "filter.scss";
@import "translator";
@import "stage.scss";
@import "credits.scss";
@import "index.scss";
@import "comment.scss";

#page-local-amos-view {
    // Avoid content overlap with side blocks.
    #region-main {
        overflow-x: auto;
    }

    h2 {
        text-align: center;
    }
}

.path-local-amos .logrecord {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.path-local-amos .contributionlist {
    margin: 1em auto;
}

.path-local-amos .contributionlist .userpicture {
    margin-right:5px;
    vertical-align: middle;
}

.path-local-amos .contributionlist .status0 .id,
.path-local-amos .contributionlist .status0 .status,
.path-local-amos .contributionwrapper .details .status0 td {
    background-color: #d2ebff;
}

.path-local-amos .contributionlist .status10 .id,
.path-local-amos .contributionlist .status10 .status,
.path-local-amos .contributionwrapper .details .status10 td,
.path-local-amos .contribactions .singlebutton.review input[type="submit"] {
    background-color: #f3f2aa;
}

.path-local-amos .contributionlist .status20 .id,
.path-local-amos .contributionlist .status20 .status,
.path-local-amos .contributionwrapper .details .status20 td,
.path-local-amos .contribactions .singlebutton.reject input[type="submit"] {
    background-color: #ffd3d9;
}

.path-local-amos .contributionlist .status30 .id,
.path-local-amos .contributionlist .status30 .status,
.path-local-amos .contributionwrapper .details .status30 td,
.path-local-amos .contribactions .singlebutton.accept input[type="submit"] {
    background-color: #e7f1c3;
}

.path-local-amos .contributionwrapper .source {
    padding-left: 60px;
    position: relative;
}

.path-local-amos .contributionwrapper .source {
    margin-left: auto;
    margin-right: auto;
}

.path-local-amos .contributionwrapper .details {
    max-width: 100%;
    min-width: 300px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.path-local-amos .contributionwrapper .source h3,
.path-local-amos .contributionwrapper .source div {
    margin: 0px 0px 0.3em;
}

.path-local-amos .contributionwrapper .source .timecreated {
    font-style: italic;
}

.path-local-amos .contributionwrapper .source .userpicture {
    position: absolute;
    top: 10px;
    left: 10px;
}

.path-local-amos .contributionwrapper .details .userpicture {
    margin-right:5px;
    vertical-align: middle;
}

.path-local-amos .contribactions {
    text-align: center;
    margin-bottom: 1em;
}

.path-local-amos .contribactions .singlebutton,
.path-local-amos .contribactions .singlebutton form,
.path-local-amos .contribactions .singlebutton form div {
    display: inline;
}

.path-local-amos .contribactions .singlebutton {
    margin: 0px 2px;
}

.path-local-amos .commentswrapper {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #eee;
    background-color: white;
}

.path-local-amos .commentswrapper .comment-link {
    margin-bottom: 5px;
}

.path-local-amos .commentswrapper .comment-area {
    margin: 0px auto;
}
