@import "../../../theme/boost/scss/bootstrap/functions";
@import "../../../theme/boost/scss/bootstrap/variables";
@import "../../../theme/boost/scss/bootstrap/mixins";

// Background colors indicating the status of the string in the translator.
$amos-color-missing: #f8d7da;
$amos-color-committable: #d4edda;
$amos-color-translatable: #d4edda;
$amos-color-outdated: #fff3cd;
$amos-color-nontranslatable: #f7f7f7;
$amos-color-staged: #d1ecf1;
