@import "../../../theme/boost/scss/bootstrap/functions";
@import "../../../theme/boost/scss/bootstrap/variables";
@import "../../../theme/boost/scss/bootstrap/mixins";

$amos-color-red: #ffd3d9;

$amos-color-missing: $amos-color-red;
$amos-color-committable: #e7f1c3;
$amos-color-outdated: #f3f2aa;
$amos-color-greylisted: #f7f7f7;
$amos-color-staged: #d2ebff;
