#page-local-amos-index {

    h2 {
        text-align: left;
    }

    .amostools {
        text-align: center;
        margin-bottom: 30px;

        .amostool {
            margin: 5px;
            display: inline-block;
            background-image: url([[pix:core|t/edit]]);
            background-repeat: no-repeat;
            background-position: center 15px;
            background-size: 24px 24px;
            padding-top: 50px;
        }

        .amostool-translator {
            background-image: url([[pix:core|t/editstring]]);
        }

        .amostool-stage {
            background-image: url([[pix:core|i/scheduled]]);
        }

        .amostool-stashes {
            background-image: url([[pix:core|i/repository]]);
        }

        .amostool-contributions {
            background-image: url([[pix:core|i/export]]);
        }

        .amostool-log {
            background-image: url([[pix:core|i/groups]]);
        }

        .amostool-credits {
            background-image: url([[pix:core|i/badge]]);
        }
    }

}
