.path-local-amos .tabtree {
    margin-bottom: 0em;
}

.path-local-amos .lazyform {
    border: 1px solid #eee;
    width: 90%;
    margin: auto;
    padding: 3px;
}

.path-local-amos .lazyform.amosfilter {
    width: 70%;
}

.path-local-amos .lazyform .item {
    margin-bottom: 5px;
}

.path-local-amos .lazyform .item .label {
    text-align: right;
}

.path-local-amos .lazyform .item.select .actions {
    margin-left: 0.5em;
}

.path-local-amos .lazyform .item .label .description {
    color: #999;
    font-size: small;
}

.path-local-amos .lazyform .item .element {
}

.path-local-amos .labelled_checkbox label {
    margin: 0em 1.5em 0em 0.5em;
}

.path-local-amos #amosfilter_fver .labelled_checkbox {
    display: inline;
}

.path-local-amos .preformatted {     /* a workaround the lack of pre-wrap support */
    white-space: pre-wrap;      /* css-3 should we be so lucky... */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap;     /* Opera 4-6 ?? */
    white-space: -o-pre-wrap;   /* Opera 7 ?? */
    word-wrap: break-word;      /* Internet Explorer 5.5+ */
    _white-space: pre;          /* IE only hack to re-specify in addition to word-wrap  */
}

.path-local-amos #amostranslator,
.path-local-amos #amosstage {
    width: 90%;
    margin: 1em auto;
}

.path-local-amos .commitformwrapper {
    margin: 0em auto;
    text-align: center;
}

.path-local-amos .commitformwrapper textarea {
    width: 30em;
    min-height: 5em;
}

.path-local-amos #amostranslator tr,
.path-local-amos #amosstage tr {
    border: 1px solid #ddd;
}

.path-local-amos #amosstage .r0,
.path-local-amos #amostranslator .r0 {
    background-color: white;
}

.path-local-amos #amosstage .r1,
.path-local-amos #amostranslator .r1 {
    background-color: #f9f9f9;
}

/* minimal width for these two columns */
.path-local-amos #amostranslator .component,
.path-local-amos #amostranslator .version,
.path-local-amos #amosstage .component,
.path-local-amos #amosstage .version {
    width: 1px;
}

.path-local-amos #amostranslator .original,
.path-local-amos #amostranslator .translation,
.path-local-amos #amosstage .original,
.path-local-amos #amosstage .translation {
    min-width: 35%;
}

.path-local-amos #amosstage .translation del {
    color: #999;
}

.path-local-amos #amostranslator .translation.missing {
    background-color: #ffd3d9;
}

.path-local-amos #amostranslator .translation.staged {
    background-color: #d2ebff;
}

.path-local-amos #amostranslator .translation.translated {
    background-color: #e7f1c3;
}

.path-local-amos #amostranslator .stringinfo .metainfo {
    color: #999;
    font-size: small;
}

.path-local-amos #amostranslator textarea.translation-edit {
    width: 100%;
    min-height: 4em;
}

#page-local-amos-index h1.main,
#page-local-amos-index h2.main {
    text-align: left;
}

.path-local-amos .logrecord {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.path-local-amos .pagination {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    font-size: 120%;
}

.path-local-amos .pagination span {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.path-local-amos .pagination .current {
    font-weight: bold;
}
