{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_amos/frontpage

    Site custom front page.

    Example context (json):
    {}
}}

{{#js}}
{{#contributedstrings}}
    require(['local_amos/contributedstrings'], function(contributedstrings) {
        contributedstrings.init('{{{contributedstrings}}}');
    });
{{/contributedstrings}}
{{#listcontributors}}
    require(['local_amos/listcontributors'], function(listcontributors) {
        listcontributors.init('{{#str}} contributethanks, local_amos, { "listcontributors": {{#quote}} {{{listcontributors}}} {{/quote}} } {{/str}}');
    });
{{/listcontributors}}
{{/js}}

<div class="card">
    <div class="lead card-header">{{#str}} availablelangs, core_install {{/str}}</div>
    <div class="card-body">
        <p class="mt-1 mb-4">{{#str}} languagepacks, local_amos {{/str}}</p>
        <ul class="list-group list-group-flush">
            {{#langpackstats}}
                <li id="langpack-{{langcode}}"  class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                            <strong style="font-size: larger">{{langname}}</strong>
                            <div class="mt-1">
                                <ul class="list-inline">
                                    {{#childpacks}}
                                        <li class="list-inline-item small"><em>{{langname}}</em>&nbsp;<span class="badge badge-light">{{totalstrings}}</span></li>
                                    {{/childpacks}}
                                </ul>
                            </div>
                        </div>
                        <div class="pt-1" style="min-width: 50%">
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:{{ratio}}%" aria-valuenow="{{ratio}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div>
                                <strong class="p-3">{{ratio}}%</strong><small>{{totalstrings}} / {{totalenglish}}</small>
                            </div>
                        </div>
                    </div>
                </li>
            {{/langpackstats}}
        </ul>
    </div>
</div>
