{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_amos/subscription_notification

    Template for the notification of langpack changes to a subscriber.

    Context variables required for this template:
    * user
    * changes - list of changes

    Example context (json):
    { "user": {
        "firstname": "Mr",
        "lastname": "T",
        },
      "components": [
        {
            "name": "admin",
            "langs": [
                name: "de"
                changes: [
                    branch: "3.7"
                    oldtext: "Admin"
                    newtext: "Admin Plugin"
                ]
            ],
        }
      ]
    }
}}

<p>Dear {{user.firstname}} {{user.lastname}},<br/>
    the following string changes were made in AMOS for your subscripted plugins:<br/><br/></p>

<div>
    {{#components}}
        <h2>{{{name}}} {{{lang}}}:</h2>
    <table>
        <tr>
            <th>String identifier</th>
            <th>Version</th>
            <th>Old value</th>
            <th>New value</th>
        </tr>
        {{#changes}}
        <tr>
            <td>
                {{{ stringid }}}
            </td>
            <td>
                {{{ branch }}}
            </td>
            <td>
                {{{ oldtext }}}
            </td>
            <td>
                {{{ newtext }}}
            </td>
        </tr>
        {{/changes}}
    </table>
    {{/components}}
</div>

{{# components }}
For the component {{name}}
{{# langs }}
For the lang {{name}}
{{# changes }}
[{{branch}}/{{stringid}}]: {{oldtext}} => {{newtext}}
{{/ changes }}
{{/ langs}}
{{/ components }}

