{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_amos/subscription_notification

    Template for the notification of langpack changes to a subscriber.

    Context variables required for this template:
    * user
    * changes - list of changes

    Example context (json):
    { "user": {
        "firstname": "Mr",
        "lastname": "T",
        },
      "components": [
        {
            "name": "admin",
            "lang": "de",
            changes: [
                branch: "3.7"
                oldtext: "Admin"
                newtext: "Admin Plugin"
            ],
        }
      ]
    }
}}


Dear {{user.firstname}} {{user.lastname}},

the following string changes were made in AMOS for your subscripted plugins:

{{#components}}
    {{{name}}} ({{{lang}}}):

    {{#changes}}
        String identifier: {{{ stringid }}}
        Version: {{{ branch }}}
        Old string: {{{ oldtext }}}
        New string: {{{ newtext }}}
    {{/changes}}
{{/components}}


